@model IEnumerable<excelproj.Models.exceldatamodel4>

<table width="100%" class="table">
    <thead>

        <tr>
            <th>STT</th>
            <th>ten</th>
            <th>Diem</th>
            <th>Xep hang</th>
            <th>Diem</th>
            <th>Xep hang</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.stt</td>
                <td>@item.name</td>
                <td>@item.score</td>
                <td>@item.rank</td>
                <td>@item.score2</td>
                <td>@item.rank2</td>
               
            </tr>
        }
    </tbody>
</table>
