@model IEnumerable<excelproj.Models.Exceldatamodel>

<table  border="1px solid black" width="100%" class="table">
    <thead>
        <tr><th></th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
            <td>E</td>
            <td>F</td>
            <td>G</td>
            </tr>
        <tr>
            <td>1</td>
            <th>STT</th>
            <th>Name</th>
            <th>ID</th>
            <th>Sex</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Net Salary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var row = 2;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@row</td>
                <td>@item.stt</td>
                <td>@item.name</td>
                <td>@item.id</td>
                <td>@item.sex</td>
                <td>@item.department</td>
                <td>@item.salary</td>
                <td>@item.netsalary</td>
                <td>@item.slr2</td>
            </tr>
            row++;
        }
    </tbody>
</table>
